In [3]:
#import datasets
import geopandas as gpds
from datetime import datetime

In [4]:
import pandas

In [5]:
import pandas as pd
import pandas.io.sql as sqlio

In [6]:
pip install findspark

Requirement already satisfied: findspark in /opt/anaconda3/lib/python3.9/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import findspark

In [8]:
pip install pyspark

Requirement already satisfied: pyspark in /opt/anaconda3/lib/python3.9/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import split, col,substring,regexp_replace

In [10]:
import sqlite3

In [11]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.9/site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import psycopg2 as ps

Connect with Database

In [13]:
conn2 = ps.connect( dbname = "marineproject",
                    user = "postgres",
                    password = "0806",
                    host = "localhost",
                    port = "5432"
                  )

In [14]:
cursor = conn2.cursor()

In [15]:
cursor.execute("select version()")

In [16]:
data = cursor.fetchone()
print("Connection established to: ",data)

Connection established to:  ('PostgreSQL 14.4 on x86_64-apple-darwin20.6.0, compiled by Apple clang version 12.0.0 (clang-1200.0.32.29), 64-bit',)

In [17]:
select1 = "SELECT * FROM vessels WHERE id = '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd'"
cursor.execute(select1)

In [18]:
result_set = cursor.fetchall()
for x in result_set:
    print(x)

('8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd', Decimal('36'), 'Germany', None, None, None)

verification that there is ship marks at the date 26/04/2019 and using the vessel id 8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd

In [19]:
select2 = "SELECT * FROM positions WHERE vessel_id_v1 = '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd' and t::TEXT LIKE '%2019-04-26%'"
cursor.execute(select2)
result_set = cursor.fetchall()
for x in result_set:
    print(x)

(4054685, '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd', 23.69928, 37.9061, None, Decimal('349.3'), Decimal('5.4'), '0101000020E610000034BF9A0304B33740EB73B515FBF34240', '0101000020E61000000000000004B3374000000020FBF34240', datetime.datetime(2019, 4, 26, 18, 53, 25))
(4054904, '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd', 23.69872, 37.90854, None, Decimal('348.7'), Decimal('6.4'), '0101000020E6100000A60F5D50DFB23740CE8DE9094BF44240', '0101000020E610000000000060DFB23740000000004BF44240', datetime.datetime(2019, 4, 26, 18, 54, 55))
(4054760, '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd', 23.69912, 37.90682, None, Decimal('350.2'), Decimal('5.3'), '0101000020E6100000C2FA3F87F9B23740EBAD81AD12F44240', '0101000020E610000000000080F9B23740000000A012F44240', datetime.datetime(2019, 4, 26, 18, 53, 55))
(4054835, '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd', 23.69893, 37.90765, None, Decimal('349.6'), Decimal('6.4'), '0101000020E61000007B319413EDB23740711B0DE02DF44240', '0101000020E610000000000020EDB23740000000E02DF44240', datetime.datetime(2019, 4, 26, 18, 54, 25))

Finding the number of rows using function Count

In [20]:

select3 = "SELECT COUNT(*) FROM positions WHERE vessel_id_v1 = '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd' and t::TEXT LIKE '%2019-04-26%'"
cursor.execute(select3)
result = cursor.fetchall()
print(result[0])

(4,)

As a result , we found four ship marks .

In [21]:
select4 = "SELECT t FROM positions WHERE vessel_id_v1 = '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd' and t::TEXT LIKE '%2019-04-26%'"
cursor.execute(select4)
result4 = cursor.fetchall()
for x in result4:
    print(x)
    
my_tuple = list(result4)
print(my_tuple)

print("====TEST=====")
times_list=[]
for i in result4:
    record = (i[0].hour, i[0].minute, i[0].second)
    times_list.append(record)
    
print(times_list)

(datetime.datetime(2019, 4, 26, 18, 54, 55),)
(datetime.datetime(2019, 4, 26, 18, 54, 25),)
(datetime.datetime(2019, 4, 26, 18, 53, 25),)
(datetime.datetime(2019, 4, 26, 18, 53, 55),)
[(datetime.datetime(2019, 4, 26, 18, 54, 55),), (datetime.datetime(2019, 4, 26, 18, 54, 25),), (datetime.datetime(2019, 4, 26, 18, 53, 25),), (datetime.datetime(2019, 4, 26, 18, 53, 55),)]
====TEST=====
[(18, 54, 55), (18, 54, 25), (18, 53, 25), (18, 53, 55)]

In [20]:
list_of_lists = [list(elem) for elem in times_list]
print(list_of_lists)

[[18, 54, 55], [18, 53, 25], [18, 53, 55], [18, 54, 25]]

In [21]:
a, b, c, d = list_of_lists
print(a)
print(b)
print(c)
print(d)

[18, 54, 55]
[18, 53, 25]
[18, 53, 55]
[18, 54, 25]

In [22]:
A=[]
for i, j in zip(a, b):
    A.append(i-j)
print(A)

[0, 1, 30]

In [23]:
B=[]
for i, j in zip(b, c):
    B.append(i-j)
print(B)

[0, 0, -30]

In [24]:
C=[]
for i, j in zip(c, d):
    C.append(i-j)
print(C)

[0, -1, 30]

Q11

In [44]:
select5 = "SELECT t FROM positions WHERE vessel_id_v1 = '8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd' and t::TEXT LIKE '%2019-04-26%'"
cursor.execute(select5)
result5 = cursor.fetchall()
for x in result5:
    print(x)
    
my_tuple = list(result5)
print(my_tuple)

#df = pd.read_sql('SELECT t FROM positions WHERE vessel_id_v1 ="8b4d6f5da0e4676ca5436d6e254edcdeafe1040eb64d0f8a0acc697e3175e6dd" and t::TEXT LIKE "%2019-04-26%"',conn2)

(datetime.datetime(2019, 4, 26, 18, 54, 25),)
(datetime.datetime(2019, 4, 26, 18, 54, 55),)
(datetime.datetime(2019, 4, 26, 18, 53, 25),)
(datetime.datetime(2019, 4, 26, 18, 53, 55),)
[(datetime.datetime(2019, 4, 26, 18, 54, 25),), (datetime.datetime(2019, 4, 26, 18, 54, 55),), (datetime.datetime(2019, 4, 26, 18, 53, 25),), (datetime.datetime(2019, 4, 26, 18, 53, 55),)]

In [ ]:
#megisti taxitita vasi diadoxikon stigmon
test = my_tuple

gdf = gpds.GeoDataFrame(test, geometry='points')

traj_collection = mpd.TrajectoryCollection(gdf, 'vessel_id_v1', t='t')

for trajectory in traj_collection.trajectories: trajectory.add_speed(overwrite=True, name='speed (CRS/sec)')

trajectory.df['speed (CRS/sec)'].max()

In [ ]:
#Apostasi apo to limani 
ports = pd.read_csv('/Users/ailinasopileidi/Documents/MsC_UNIPI/2nd semester/Geospatial Data Management and Analytics/eggrafa_CDS209/Projects/Project2022/thalassaDB/ports.csv')

ports.loc[len(ports)] = ['PORT_PIRAEUS', 37.94487904282196, 23.640198095336856]
ports.loc[len(ports)] = ['MARINA_FLISVOU', 37.931937293600996, 23.68519263497288]
ports.loc[len(ports)] = ['LAVRIO_PORT', 37.71257457040942, 24.06336926200022]
ports['geoms'] = ports.apply(lambda row: Point(row.lon, row.lat), axis=1)

print('Distances vessel from ports (< 0.5):\n')
for x in range (len(ports)-1):
    if trajectory.distance(ports['geoms'].iloc[x]) < 0.5:
        print(str(ports['name'].iloc[x]) + ': ' + str(trajectory.distance(ports['geoms'].iloc[x])))